{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h2>Vocabulary file <b>{{ file }}</b></h2>
    <div id="" class="container border-dark bg-light p-4">
        <div class="d-grid d-md-flex gap-2 justify-content-md-end">
            <a class="btn btn-danger" title="Delete" href="/vocab/del/{{ file }}"
               onclick="return confirm('Are you sure?')">
                <i class="bi bi-trash"></i>
            </a>
            <a class="btn btn-info" title="Download" href="/vocab/get/{{ file }}">
                <i class="bi bi-download"></i>
            </a>
            <button class="btn btn-warning" title="Add word" onclick="add_word()">
                <i class="bi bi-plus-circle-fill"></i>
            </button>
            <button id="savebtn" class="btn btn-secondary" title="Save" disabled="disabled">
                <i class="bi bi-archive"></i>
            </button>
        </div>
        <div id="wordlist">
            <span class="spinner-border" role="status">
                <span class="sr-only"></span>
            </span>
            <span class="ps-3">Loading...</span>
        </div>
        <div id="pagination"></div>
        <div id="letter_index"></div>
    </div>
    <script>
        let letters = 'AĄBCĆDEĘFGHIJKLŁMNŃOÓPRSŚTUWYZŻŹ'.split('').sort(function (a, b) {
            return a.localeCompare(b, 'pl');
        }).join('');
        let words = [];
        let dataContainer = $('#wordlist');
        let saveButton = $('#savebtn');
        let unsaved = false;

        function refresh_ui(data) {
            $('#pagination').pagination({
                dataSource: data,
                pageSize: 20,
                showGoInput: true,
                showGoButton: true,
                callback: function (data, pagination) {
                    dataContainer.empty();
                    $.each(data, function (idx, text) {
                        let el = $('<input>');
                        el.attr('class', 'row form-control m-1')
                        el.attr('type', 'text');
                        el.attr('value', text);
                        el.on('change', function () {
                            val = el.attr('value').trim();
                            if (val)
                                words[idx] = val;
                            else
                                words.splice(idx, 1);
                            words = [...new Set(words)];
                            words.sort(function (a, b) {
                                return a.localeCompare(b, "pl");
                            });
                            refresh_ui(words);
                            saveButton.removeClass('btn-secondary');
                            saveButton.addClass('btn-success');
                            saveButton.removeAttr('disabled');
                            unsaved = true;
                        });
                        dataContainer.append(el);
                    });
                }
            });

            $('#letter_index').empty();
            $.each(letters, function (idx, l) {
                let ll = l.toLowerCase();
                let i = data.findIndex(el => el.toLowerCase().startsWith(ll));

                let btn = $('<span class="btn btn-sm btn-outline-secondary m-1">' + l + '</span>');
                $('#letter_index').append(btn);
                if (i >= 0) {
                    btn.on('click', function () {
                        $('#pagination').pagination(Math.trunc(i / 20) + 1);
                    });
                } else {
                    btn.addClass('disabled');
                }
            });

        }

        $.get('src/{{ file }}', function (data) {
            words = data.sort(function (a, b) {
                return a.localeCompare(b, 'pl');
            });
            refresh_ui(words);
        });

        saveButton.on('click', function () {
            $.post('/vocab/write/{{ file }}', JSON.stringify(words));
            saveButton.removeClass('btn-success');
            saveButton.addClass('btn-secondary');
            saveButton.attr('disabled', 'disabled');
            unsaved = false;
        });

        function add_word() {
            let word = prompt('Enter word:');
            if (word) {
                words.push(word);
                refresh_ui(words);
                saveButton.removeClass('btn-secondary');
                saveButton.addClass('btn-success');
                saveButton.removeAttr('disabled');
            }
        }

        $(window).on("beforeunload", function () {
            if (unsaved)
                return "There are unsaved changes. Are you sure you want to leave?";
            else
                return undefined;
        });
    </script>
</div>
{% endblock %}